html, body {
    height: 100vh;
    background-color: #E8EDDF;
    min-height: 100%;
}

#navbar-bg {
    background-color: #A91A13;
}

#sub-navs {
    justify-content: right;
    margin-right: 5%;
}

#navbar-options {
    color: white;
}

#empty-cart-btn {
    justify-content: right;
}

#cart_bowling_img {
justify-content: center;
}

#bonwood-cafe-img{
  max-height: 30%;
}

#homepage-h2 {
    text-align: center;
}

#homepage-img {
    max-height: fit-content;
    max-width: fit-content;
}
#footer {
    position: fixed;
    height: 30px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #394648;
    margin:0;
    text-align: center;
    color: white;
}

#login-img {
    align-items: center;
}

.loader-container {
    position: relative;
    width: 100%;
    height: 300px;
    background: #E8EDDF;
    text-align: center;
    padding-top: 100px;
  }
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
  }
  .ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: 50;
    -webkit-animation: spin .75s infinite;
    -ms-animation: spin .75s infinite;
    -moz-animation: spin .75s infinite;
    animation: spin .75s infinite;
  }
  .ball-gradient {
    position: absolute;
    top: -70px;
    left: -60px;
    width: 200px;
    height: 200px;
    background-position: -50px -50px;
    background: #7ddd88; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTElIiBzdG9wLWNvbG9yPSIjZDhjODdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTElIiBzdG9wLWNvbG9yPSIjZDhjODdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZGRiYjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZGRiYjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjYTM4NTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EzODUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #7ddd88 11%, #7ddd88 11%, #119030 12%, #119030 34%, #045122 35%, #045122 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(11%,#7ddd88), color-stop(11%,#7ddd88), color-stop(12%,#119030), color-stop(34%,#119030), color-stop(35%,#045122), color-stop(100%,#045122)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7ddd88 11%,#7ddd88 11%,#119030 12%,#119030 34%,#045122 35%,#045122 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7ddd88 11%,#7ddd88 11%,#119030 12%,#119030 34%,#045122 35%,#045122 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7ddd88 11%,#7ddd88 11%,#119030 12%,#119030 34%,#045122 35%,#045122 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7ddd88 11%,#7ddd88 11%,#119030 12%,#119030 34%,#045122 35%,#045122 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ddd88', endColorstr='#a38500',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    z-index: 31;
  }
  .hole:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 55;
  }
  .hole:nth-child(3) {
    position: absolute;
    top: 38px;
    left: 50px;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 55;
  }
  .hole:nth-child(1) {
    position: absolute;
    top: 18px;
    left: 60px;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 55;
  }
  .shadow {
    width: 100px;
    height: 25px;
    background: rgba(0,0,0,.6);
    -moz-border-radius: 100px / 25px;
    -webkit-border-radius: 100px / 25px;
    border-radius: 100px / 25px;
    margin: -14px auto 0;
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {transform:rotate(0deg);}
      to {transform:rotate(360deg);}
  }
  .loader-text {
    color: #A91A13;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    font-family: 'Ariel', sans-serif;
    margin-left: 14px;
    font-weight: bold;
  }

  .lane {
    background-color: #AC5D28;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 20px 20px;
    height: 160px;
  }
  
  .bowling-ball {
    margin-top: 40px;
    animation-name: bowl;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes bowl {
    from { transform: translate(0) rotate(0); }
    to { transform: translate(1000px) rotate(180deg); }
  }
  
  @keyframes bowl2 {
    0% { transform: translateX(0) rotate(0) ; }
    100% { transform: translateX(1000px) rotate(4turn); }
  }
  
  @keyframes bowl3 {
    0% { transform: translateY(0); }
    20% { transform: translateY(30px); }
    40% { transform: translateY(60px); }
    100% { transform: translateY(0); }
  }
  
    /* animation-name: bowl;
    animation-duration: 3s;
    animation-iteration-count: 1/infinite; 
    animation-timing-function: ease/ease-in/ease-out/ease-in-out/linear
    animation-delay: s
    animation-fill-mode: none/backwards/forwards/both */
